.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.right{
text-align: right;
}
.panel-primary{
  display: none;
}
.block{
  display: block;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.ms{
  overflow: hidden;
}
.message_chat {
  width: 85%;
  float: left;
  margin-left: 5%;
  display: block;
}
.message_chat span{
  padding: 5px;
  word-wrap: break-word;
  background: red;
  color: #fff;
  display: block;
  border-radius: 10px;
  min-width: 50px;
}
.username{
  float: left;
}
.username2{
  float: left;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 480px;
}

.url-preview {
    cursor: pointer;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.header{
  overflow: hidden;
}
.text-muted{
  float: left;
}
